@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Boldonse&family=Domine:wght@400..700&family=Righteous&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Whisper&display=swap");

.main-container {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 0 10px 0 10px;
}

.clipTitle-container {
  width: 70%;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.133);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 10px 0 0;
  margin-top: 20px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.clip-title {
  font-size: 2.8rem;
  background: linear-gradient(to bottom, white, white, silver, grey, grey);
  background-position: center;
  background-size: cover;
  color: transparent;
  background-clip: text;
  text-align: center;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: rgb(6, 6, 35);
}

.clip-container {
  width: 85vw;
  max-width: 1280px;
  margin: auto;
  position: relative;
  padding-top: 56.25%;
}

.clip {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: 79%;
  border: 0;
  border: 2px solid rgba(233, 233, 233, 0.41);
  border-radius: 20px;
  box-shadow: 4px 4px 10px black, -4px -4px 10px black;
}

@media (max-width: 1055px) {
  .clip-title {
    font-size: 2rem;
  }
}

@media (max-width: 848px) {
  .clip-title {
    font-size: 1.7rem;
  }
}

@media (max-width: 750px) {
  .clip-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .clip-title {
    font-size: 1.4rem;
  }
  .clipTitle-container {
    margin-bottom: 15px;
  }
}

@media (max-width: 450px) {
  .clip-title {
    font-size: 1.2rem;
  }
}

@media (max-width: 353px) {
  .clip-title {
    font-size: 1rem;
  }
}
