@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Domine:wght@400..700&family=Righteous&family=Rubik+Mono+One&display=swap");

.mttBtn-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  user-select: none;
}

.mttbtn {
  background-color: black;
  padding: 2px 5px;
  border: 0.5px solid rgba(128, 128, 128, 0.611);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 2s linear;
}

.mttbtn:hover {
  border: 0.5px solid aqua;
  border-radius: 10px;
  filter: drop-shadow(0 0 0.1rem aqua);
  animation: mttBtnMation 3s linear infinite;
}

.mttBtn-text {
  padding: 4px 5px;
  background-color: black;
  letter-spacing: 10px;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  padding-left: 17.6px;
  font-family: "Domine", serif;
}

.mttBtn-icon {
  font-size: 1.5rem;
  background-color: rgba(0, 0, 0, 0.189);
  color: white;
}

@keyframes mttBtnMation {
  0% {
    filter: none;
  }
  50% {
    filter: drop-shadow(0 0 2rem rgba(0, 255, 255, 0.264));
  }
  100% {
    filter: none;
  }
}

@media (max-width: 675px) {
  .mttBtn-text {
    font-size: 0.9rem;
  }
}
@media (max-width: 569px) {
  .mttBtn-text {
    letter-spacing: 6px;
  }
}

@media (max-width: 480px) {
  .mttBtn-text {
    font-size: 0.8rem;
    letter-spacing: 5px;
  }
}

@media (max-width: 330px) {
  .mttBtn-text {
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  .mttBtn-text {
    font-size: 0.8rem;
  }
  .mttBtn-text {
    letter-spacing: 4px;
  }
}

@media (max-width: 300px) {
  .mttBtn-text {
    letter-spacing: 5px;
  }
}
