@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Boldonse&family=Dancing+Script:wght@400..700&family=Domine:wght@400..700&family=Lobster&family=Righteous&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Mono+One&family=Whisper&display=swap");

.footer {
  width: 100vw;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(15px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.5px solid rgba(128, 128, 128, 0.355);
  margin-top: 10px;
  padding: 15px 10px;
}

.foot-container {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.metaInfo-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.churchName-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.636);
  padding-bottom: 2px;
  margin-bottom: 5px;
}

.church-name {
  font-size: 1.5vw;
  color: aliceblue;
  font-family: "Lobster", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
}

.officials-name {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.obName-container {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.obNames {
  font-size: 1.2vw;
  color: rgb(223, 221, 221);
  letter-spacing: 1px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(6, 6, 35);
}

.officials-designation {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.obDesignation-container {
  width: 25%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.obDesignation {
  font-size: 1.3vw;
  color: rgb(223, 221, 221);
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-shadow: 1px 1px 2px black;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: rgb(6, 6, 35);
}

@media (max-width: 650px) {
  .church-name {
    font-size: 1.7vw;
  }
  .obNames {
    font-size: 1.4vw;
  }
  .obDesignation {
    font-size: 1.5vw;
  }
}
