* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100vw;
  height: 100vh;
  background-color: black;
  background-image: url("/mainBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.471);
  scroll-behavior: smooth;
}
